@import "";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: black;
}

header{
    /*margin-top: 20px;  */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 1rem 9%; 
    background-color: white; /* was transparent before */
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(213, 173, 248);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: purple;
    border-bottom: 3px solid purple; 
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0 ;
        right: 0;
        width: 40%;
        border-left: 3px solid pink;
        border-bottom: 3px solid pink;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: white;
        border-top: 0.1rem solid black;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: .5s solid black;
    }
}

.about-container {
    margin-top: 8rem;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}
.text-block {
    flex: 1;
    max-width: 650px;
}

.intro {
    margin-top: 5rem;
    text-align: center;
}

.intro h1 {
    font-size: 3rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

.pokemon {
    vertical-align: middle;
    margin-top: -98px;
    float: right;
}

.intro p {
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.fun-facts {
    max-width: 700px;
}

.fun-facts h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.fun-facts ul {
    list-style: disc inside;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-pic img {
    width: 80%;
    max-width: 400px;
    border-radius: 50%;
    box-shadow: 0 5px 20px purple;
    transition: transform 0.3s ease;
}

.profile-pic img:hover {
    transform:scale(1.05);
}

/*.pokemon {
    float: right;
}