@import "";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

header{
    /*margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(213, 173, 248);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: purple;
    border-bottom: 3px solid purple; 
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0 ;
        right: 0;
        width: 40%;
        border-left: 3px solid pink;
        border-bottom: 3px solid pink;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: white;
        border-top: 0.1rem solid black;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: .5s solid black;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: white;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: pink;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "UX Designer";
    color: rgb(213, 173, 248);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    color: rgb(213, 173, 248);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(213, 173, 248);
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "UX Designer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Computer Science Student";
    }
    81%, 100%{
        content: "UI Designer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}

@media (min-width: 1800px) {
    .logo {
        font-weight: 160%;
    }
}